* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
    margin: 1em auto;
}

.grid {
    /* border: solid 2px black; */
    max-width: 420px;
    width: 80%;
    aspect-ratio: 1/1;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.grid div {
    width: 3.57142857%;
    height: 3.57142857%;
}

.pac-dot {
    background-color: rgb(0, 177, 0);
    border: 5px solid white;
    box-sizing: border-box;
    border-radius: 50%;
}

.wall {
    background-color: rgba(0, 8, 255, 0.863);
}

.power-pellet {
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
}

.pacman {
    background-color: rgb(250, 204, 0);
    border-radius: 50%;
    border: none;
}

.ghost {
    border: none;
    border-radius: 50% 50% 0 0;
}

.blinky {
    background-color: red;
}

.pinky {
    background-color: rgb(255, 70, 101);
}

.inky {
    background-color: orangered;
}

.clyde {
    background-color: rgb(18, 212, 0);
}

.scared-ghost {
    background-color: brown;
}

.up,
.down,
.left,
.right {
    cursor: pointer;
}

.controls {
    font-size: 2rem;
    max-width: 200px;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(2, 50px);
    column-gap: 10px;
    row-gap: 10px;
}

.up {
    grid-column: 2/3;
    grid-row: 1/2;
}

.down,
.left,
.right {
    grid-row: 2/3;
}

@media screen and (max-width: 400px) {
    .pac-dot {
        background-color: rgb(0, 177, 0);
        border: 3px solid white;
        box-sizing: border-box;
        border-radius: 50%;
    }
}