@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@400;700&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "rowdies", cursive;
}

body {
    background-color: black;
    color: white;
}

h2 {
    font-size: 2em;
    color: yellow;
}

h3 {
    font-weight: normal;
}

.container {
    text-align: center;
    margin: 1em auto;
}

.grid {
    /* border: solid 2px black; */
    max-width: 380px;
    width: 80%;
    /* aspect-ratio: 1/1; */
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.grid div {
    width: 5.26315789%;
    aspect-ratio: 1/1;
}

.pac-dot {
    background-color: rgb(160, 160, 160);
    border: 8px solid black;
    box-sizing: border-box;
    border-radius: 50%;
}

.wall {
    background-color: rgb(4, 0, 255);
}

.power-pellet {
    background-color: rgb(0, 255, 0);
    border: 5px solid black;
    border-radius: 50%;
}

.pacman {
    background: yellow;
    border: 2px solid black;
    border-radius: 50%;
}

.ghost {
    clip-path: polygon( 50% 0%, 80% 10%, 100% 35%, 100% 100%, 50% 75%, 0 100%, 0% 35%, 20% 10%);
    border: none;
    border-radius: 50% 50% 0 0;
}

.blinky {
    background-color: red;
}

.pinky {
    background-color: rgb(255, 124, 146);
}

.inky {
    background-color: chartreuse;
}

.clyde {
    background-color: sandybrown;
}

.scared-ghost {
    background-color: brown;
}

@media screen and (max-width: 400px) {
    .pac-dot {
        background-color: rgb(160, 160, 160);
        border: 5px solid black;
        box-sizing: border-box;
        border-radius: 50%;
    }
}